root = true

[*]
charset = "utf-8"
trim_trailing_whitespace = true
insert_final_newline = true


[*.(JS, css)]
curly_bracker_next_line = true
indent_size = 2
indent_style = space
endof_line = lf


[*.min.*]
indent_style = ignore
trim_trailing_whitespace = false
insert_final_newline = false
